body {
  width: 100vw;
  height: 100vh;
  font-family: "Lora", serif;
}

/* Any of the items in the 'header or footer' will be centered verticalled by align-items. */
.header,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
}

.section1,
.section3 {
  background-color: #d7cec7;
}

.section2,
.section4 {
  background-color: #c09f80;
}
.header {
  min-height: 10%;
  color: #76323f;
}

.footer {
  justify-content: center;
}

.section1,
.section2,
.section3,
.section4 {
  width: 100%;
  min-height: 22.5%;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  padding-top: 3%;
  width: 75%;
  padding-bottom: 3%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerLogo {
  font-weight: bold;
  padding-left: 50px;
  font-size: x-large;
  color: #471f26;
}

.links {
  display: flex;
  margin-left: auto;
  padding-right: 50px;
  gap: 24px;
  font-weight: 500;
  align-items: center;
}

.linkButton {
  background-color: ;
  border: #471f26 solid 2px;
  border-radius: 7px;
  cursor: pointer;
}

.section1 .Text {
  width: 500px;
  height: 280px;
  border: rgb(125, 54, 67, 0.3) solid 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.section1Container {
  display: flex;
  border: #76323f solid 5px;
  border-radius: 25px;
}
.section1 .Text2 {
  width: 500px;
  height: 280px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
}

.section1Header1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #471f26;
}

.section1Header2 {
  color: #76323f;
  margin-bottom: 5px;
  font-size: 30px;
  margin-bottom: 10px;
}
.section1Header4 {
  margin-bottom: 30px;
  color: black;
}

.section1Button {
  cursor: pointer;

  width: 150px;
  height: 50px;
  background-color: #76323f;
  color: white;
  border-radius: 10px;
  border: black solid 3px;
  transition: 2s;
  font-size: 20px;
}

.section1Button:hover {
  width: 250px;
  height: 80px;
  background-color: #c09f80;
  color: black;
  border: black solid 5px;
}

.section2Header1 {
  color: #76323f;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.section2Header2 {
  font-size: 50px;
}

.section2Container {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.box1Container {
  width: 105px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #76323f;
  border-radius: 1px;
  /* Transition is how long it takes for your box to transfrom from original to modified. */
  transition: 1s;
  cursor: pointer;
  margin-bottom: 10px;
}

.box1Container:hover {
  /* This changes the current box, 100px x 100px, into the stated dimensions when you hover your mouse. */
  /* original dimensions: width: 792px, height: 448.266 */
  width: 396px;
  height: 224.133px;
  margin-bottom: 50px;
}

.section2Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2BoxImg {
  /* This will set the size of the image so it fits in the box.  */
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 2px solid #76323f;
  transition: 1s;
}

.section2BoxImg:hover {
  width: 406px;
  height: 234.133px;
  border: 8px solid #76323f;
}

h5 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 25%;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3Quotes {
  display: flex;
}

.section3Header {
  margin-right: 50px;
  color: #76323f;
  font-size: 50px;
}
.quote {
  max-width: 70%;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  color: #76323f;
}

.quote.one {
  height: 50px;
  width: 200px;
  margin-right: 50px;
}

.quote1Text {
  margin-bottom: 10px;
}
.quote.author1 {
  margin-right: 20px;
}
.quote.two {
  height: 50px;
  width: 300px;
  margin-right: 40px;
}
.quote2Text {
  margin-bottom: 10px;
}
.quote.author1,
.quote.author2 {
  margin-left: auto;
  color: #471f26;
  display: flex;
  justify-content: right;
}

.section4Box {
  width: 700px;
  min-height: 100px;
  border: 3px solid #76323f;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  background-color: #d7cec7;
  justify-content: space-between;
  align-items: center;
}

.section4Button {
  margin-right: 30px;
}
.section4Header4 {
  color: #471f26;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.section4Button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #76323f;
  color: white;
  border: solid black;
}

.section4Button:hover {
  cursor: pointer;
  background-color: #943a49;
}
