body {
    background-color: #1f2937;
    padding: 0;
    margin: 0;
}

.first-section{
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 80px;
}


.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

.header.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}


.hero.main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero.secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.container{
    display: flex;
    justify-content: space-between;
}
.placeholder{
    width: 500px;
    background-color: gray;
    color: white;
    padding: 10px;
}

.placeholdertext{
    text-align: center;
}

button{
    background-color: #3882f6;
    color: white;
}

.information{
    background-color: white;
    height: 405px;
}

.randominformation{
    color: black;
    text-align: center;
    font-size: 36px;
}

.boxes{
    display: flex;
    justify-content: center;
}
.box{
    height: 175px;
    width: 175px;
    border: #3882f6 solid 2px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px
}

.infotext{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.info{
    height: 125px;
    width: 175px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
    color: black;
    font-size: 16px;
}

.quotes{
    height: 300px;
    background-color: #e5e7eb;
    margin-top: 0;
    padding: 0;
    display: flex;
}

.quotebox{
    margin: auto;
    width: 800px;
    height: 120px;    
}

.quote-credits{
    text-align: right;
}

.quote-text{
    font-size: 24px;
}

.call-to-action{
    background-color: white;
    height: 100px;
    padding: 80px;
}

.callbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100px;
    background-color: #3882f6;
    border: pink solid 2px;
    margin: auto;
}

.calltext{
    color: white;
    font-size: 16px;
}

.footer{
    background-color: #1f2937;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}